<app-header></app-header>

<head>
  <!-- META DATA -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <!-- TITLE OF SITE -->
  <title>Boston</title>

  <!-- favicon img -->
  <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>

  <!--font-awesome.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">


  <!-- range css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/jquery-ui-1.11.0.css">

  <!--bootstrap.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">


</head>





<!--Our Mission start-->
<!--discount-offer start-->
<section class="boston-offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="boston-offer-content text-center">

          <div class="container">
            <div class="boston-content">

              <h2>
                Boston
              </h2>

            </div><!--/.boston-content-->
          </div><!--/.container-->

          <!-- </section>/.boston -->
          <div class="boston-video">
            <video width="950" height="530" controls>
              <source src="assets/images/videos/y2mate.com - boston_city_video_guide_1Q0R3dfwsFg_360p.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Price</h3>
                <span >$380</span>
              </div>

              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->

          <div class="col-md-6 col-sm-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Score</h3>
                <span >4.8</span>
              </div>


              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->
          <div class="col-md-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Description</h3>
              </div>

              <br/>
              <h1 style="text-align:justify ">Boston is the capital and most populous city of the Commonwealth of Massachusetts in the United States. The city proper covers 48 square miles (124 km2) with an estimated population of 685,094 in 2017, making it also the most populous city in New England. Boston is the seat of Suffolk County as well, although the county government was disbanded on July 1, 1999. The city is the economic and cultural anchor of a substantially larger metropolitan area known as Greater Boston, a metropolitan statistical area (MSA) home to a census-estimated 4.8 million people in 2016 and ranking as the tenth-largest such area in the country. As a combined statistical area (CSA), this wider commuting region is home to some 8.2 million people, making it the sixth-largest in the United States.</h1>
              <br/><br/>

              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->


        </div><!-- /.dicount-offer-content-->
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->
<!--Our Mission end-->


