.signin-heading{
  color:palevioletred;
  font-size: 20px;
  text-align: center;
}

.loginForm{
  margin-top: 10%;
}

.form-group{
  color:palevioletred;
  width:60%;
  margin-left: 25%;
}

.btn{
  margin-left: 25%;
  background-color: #c13181;
  color: white;
}


.help-block {
  font-size: 14px;
  color:darkred;
}

#invalidCredentials{
  display: none;
  font-size: 12px;
  color:red;
}
