<app-header></app-header>

<head>
  <!-- META DATA -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <!-- TITLE OF SITE -->
  <title>Columbus</title>

  <!-- favicon img -->
  <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>

  <!--font-awesome.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">


  <!-- range css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/jquery-ui-1.11.0.css">

  <!--bootstrap.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">


</head>





<!--Our Mission start-->
<!--discount-offer start-->
<section class="boston-offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="boston-offer-content text-center">

          <div class="container">
            <div class="boston-content">

              <h2>
                Columbus
              </h2>

            </div><!--/.boston-content-->
          </div><!--/.container-->

          <!-- </section>/.boston -->
          <div class="boston-video">
            <video width="950" height="530" controls>
              <source src="assets/images/videos/y2mate.com - 10_best_tourist_attractions_in_columbus_ohio_RAB6IOMthhM_360p.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Price</h3>
                <span >$780</span>
              </div>

              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->

          <div class="col-md-6 col-sm-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Score</h3>
                <span >4.4</span>
              </div>


              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->
          <div class="col-md-12">
            <div class="single-boston-item">
              <div class="single-boston-item-txt">
                <h3>Description</h3>
              </div>

              <br/>
              <h1 style="text-align:justify ">Columbus is the state capital of and the most populous city in the U.S. state of Ohio. With a population of 879,170 as of 2017 estimates, it is the 14th-most populous city in the United States and one of the fastest growing large cities in the nation. This makes Columbus the third-most populous state capital in the US (after Phoenix, Arizona and Austin, Texas) and the second-most populous city in the Midwest (after Chicago, Illinois). It is the core city of the Columbus, OH Metropolitan Statistical Area, which encompasses ten counties.[25] With a population of 2,078,725, it is Ohio's second-largest metropolitan area.

              </h1>
              <br/><br/>

              <!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->

          </div><!--/.col-->


        </div><!-- /.dicount-offer-content-->
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->
<!--Our Mission end-->


