
<app-header></app-header>

<!-- <div class = "h1Words" >
  <h1>Hello, welcome to Wayfarer!</h1>
  <hr>
  <label id = "firstName">First Name: </label>
  {{this.currentUserFirstName}}
  <br>
  <label id = "lastName">Last Name: </label>
  {{this.currentUserLastName}}
  <br>
  <label id = "email">Email: </label>
  {{this.currentUserEmail}}
  <br>
  <label id = "city">City: </label>
  {{this.currentUserCity}}
  <br>
  <label id = "zipcode">Zipcode: </label>
  {{this.currentUserZipcode}}
  <br>
  <br><br>
</div> -->


<!-- <app-header2></app-header2> -->

<!-- <div class = "h1Words">
<h1>Hello, welcome to Wayfarer!</h1>
<br><br>
</div> -->
<div class="h1Words">
  <h1>My Profile</h1>
</div>
<form (ngSubmit)="creteUser()" class = "signupForm">
  <div class="form-group">
    <label for="firstName">First Name</label>

    <input class="form-control" type="text" name="firstName" id="firstName" disabled="disabled" style="background:#CCCCCC" [(ngModel)]=" firstName" placeholder={{this.currentUserFirstName}}/>

  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control" class="form-control" type="text" name="lastName" id="lastName" disabled="disabled" style="background:#CCCCCC" [(ngModel)]="lastName" placeholder={{this.currentUserLastName}}/>
  </div>

  <div class="form-group">
    <label for="userName">Email address</label>
    <input class="form-control" type="text" name="userName" id="userName" disabled="disabled" style="background:#CCCCCC" [(ngModel)]="userName" placeholder={{this.currentUserEmail}}/>
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input class="form-control" type="city" name="city" id="city" disabled="disabled" style="background:#CCCCCC" [(ngModel)]="city" placeholder={{this.currentUserCity}}/>
  </div>

  <div class="form-group">
    <label for="zip">Zipcode</label>
    <input class="form-control" type="zip" name="zip" id="zip" disabled="disabled" style="background:#CCCCCC" [(ngModel)]="zip" placeholder={{this.currentUserZipcode}}/>
  </div>


  <br><br>

  <hr>
</form>

<!--

<div class = "goToworcester">
<label class="savedDestinationTitle">My Saved Destinations</label><br><br>
  <a href="#" [routerLink]="['/worcester']" id = "worcectserLink">Worcester</a>
  <a href="#" [routerLink]="['/boston']" id = "bostonLink">Boston</a>
  <a href="#" [routerLink]="['/columbus']" id = "columbusLink">Columbus</a>

  <br><br><br><br>

</div>

-->
