

@import url('../../assets/css/style.css');


.google-place-input{
  background: whitesmoke;
  display: inline-block;
  padding: 17px 54px;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.7px;
  border: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
