<app-header></app-header>


<head>
  <!-- META DATA -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <title>Traveler</title>
  <!-- TITLE OF SITE -->

  <!-- favicon img -->
  <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>

  <!--font-awesome.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">

  <!-- range css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/jquery-ui-1.11.0.css">


</head>


<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- main-menu End -->


<!--about-us start -->
<section id="home" class="about-us">

  <div class="container">
    <div class="about-us-content">

      <div class="row">
        <div class="col-sm-12">
          <h2>
            <br/><br/>
            Share and Discover New Life
          </h2>
          <br />
          <br />
          <br />
          <br />
          <br />
          <!--serch input start-->


            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="custom-input-group">

              <input appGooglePlaces type="text" class="form-control" placeholder="Enter What You Want To Find Here"
                     [(ngModel)]="SearchItem"  required="required">
               <!--   <input appGooglePlaces class="form-control" type="text" class="google-place-input" placeholder="Enter What You Want To Find Here"> -->
                  <button class="appsLand-btn subscribe-btn" (click)="onSubmit(SearchItem)">Search</button>
                  <div class="clearfix"></div>
                  <i class="fa fa-search"></i>
                </div>

              </div>
            </div>

          <!--serch input end-->

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->

<!--travel-box start-->
<section  class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
        </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->

</section><!--/.travel-box-->
<!--travel-box end-->

<!--service start-->
<section id="service" class="service">
  <div class="container">

    <div class="service-counter text-center">

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="service-img">
            <img src="assets/images/service/s1.png" alt="service-icon" />
          </div><!--/.service-img-->
          <div class="service-content">
            <h2>
              <!--              <a href=" ">-->
              <a href="javascript:void(0)" onclick="document.getElementById('pack').scrollIntoView({behavior:'smooth'});">
                Know More About Popular Destinations
              </a >
            </h2>
            <p>From here you can get detailed information you want!</p >
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="service-img">
            <img src="assets/images/service/s2.png" alt="service-icon" />
          </div><!--/.service-img-->
          <div class="service-content">
            <h2>
              <a href="javascript:void(0)" onclick="document.getElementById('blog').scrollIntoView({behavior:'smooth'});">
                Browse Blogs From All Over The World
              </a >
            </h2>
            <p>This is the right place to get the comments all around the world!</p >
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="statistics-img">
            <img src="assets/images/service/s3.png" alt="service-icon" />
          </div><!--/.service-img-->
          <div class="service-content">

            <h2>
              <a href="javascript:void(0)" onclick="document.getElementById('subs').scrollIntoView({behavior:'smooth'});">
                Subscribe The Latest News From Us
              </a >
            </h2>
            <p>Get the fresh information by subscribing our channel!</p >
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

    </div><!--/.statistics-counter-->
  </div><!--/.container-->

</section><!--/.service-->
<!--service end-->

<!--Our Mission start-->
<!--discount-offer start-->
<section class="discount-offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="dicount-offer-content text-center">
          <h1 style="color: white;">Our Mission --- Life, Balanced</h1>
          <br />
          <br />
          <h4 style="color: white;">We believe in building balance into modern life — taking the time to rest and unplug from the daily hustle and to focus on ourselves,
            our relationships, and the wonder of nature.</h4>



        </div><!-- /.dicount-offer-content-->
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->
<!--Our Mission end-->



<!--findings start-->
<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        Top Findings
      </h2>
      <p>
        Come to find your travel partners here.
      </p>
      <button  class="about-view packages-btn">
        Browse All >>
      </button>
    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p1.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>italy <span class="pull-right">$499</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 3 Days 2 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i> food facilities
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>254 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p2.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>england <span class="pull-right">$1499</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 6 Days 7 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i>  Free food
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>344 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p3.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>france <span class="pull-right">$1199</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Days 6 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i>  food facilities
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>544 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p4.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>india <span class="pull-right">$799</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Days 5 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i>  food facilities
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>625 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p1.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>spain <span class="pull-right">$999</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Days 4 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i>  food facilities
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>379 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/p6.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>thailand <span class="pull-right">$799</span></h3>
              <div class="packages-para">
                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Days 6 nights
											</span>
                  <i class="fa fa-angle-right"></i>  5 star accomodation
                </p>
                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                  <i class="fa fa-angle-right"></i>  food facilities
                </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>447 reviews</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.packages-content-->
  </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->



<!--blog start-->
<section id="blog" class="blog">
  <div class="container">
    <div class="blog-details">
      <div class="gallary-header text-center">
        <h2>
          Top Blogs
        </h2>
        <p>
          Travel Experiences from all over the world
        </p>
        <button  class="about-view packages-btn">
          Browse All >>
        </button>
      </div><!--/.gallery-header-->
      <div class="blog-content">
        <div class="row">

          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <h2>trending news <span>19 April 2019</span></h2>
              <div class="thumbnail-img">
                <img src="assets/images/blog/b1.jpg" alt="blog-img">
                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

              </div><!--/.thumbnail-img-->

              <div class="caption">
                <div class="blog-txt">
                  <h3>
                    <a href="#">
                      Discover beautiful weather, foods and historical place in Bay Area Boston
                    </a>
                  </h3>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <a href="#"  [routerLink]="['/boston']">Read More</a>
                </div><!--/.blog-txt-->
              </div><!--/.caption-->
            </div><!--/.thumbnail-->

          </div><!--/.col-->

          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <h2>trending news <span>18 April 2019</span></h2>
              <div class="thumbnail-img">
                <img src="assets/images/blog/b2.jpg" alt="blog-img">
                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

              </div><!--/.thumbnail-img-->
              <div class="caption">
                <div class="blog-txt">
                  <h3>
                    <a href="#">
                      Discover on beautiful weather, Fantastic foods and historical place in india
                    </a>
                  </h3>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <a href="#"  [routerLink]="['/boston']">Read More</a>
                </div><!--/.blog-txt-->
              </div><!--/.caption-->
            </div><!--/.thumbnail-->

          </div><!--/.col-->

          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <h2>trending news <span>15 March 2019</span></h2>
              <div class="thumbnail-img">
                <img src="assets/images/blog/b3.jpg" alt="blog-img">
                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

              </div><!--/.thumbnail-img-->
              <div class="caption">
                <div class="blog-txt">
                  <h3><a href="#">10 Most Natural place to Discover</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <a href="#"  [routerLink]="['/boston']">Read More</a>
                </div><!--/.blog-txt-->
              </div><!--/.caption-->
            </div><!--/.thumbnail-->

          </div><!--/.col-->

        </div><!--/.row-->
      </div><!--/.blog-content-->
    </div><!--/.blog-details-->
  </div><!--/.container-->

</section><!--/.blog-->
<!--blog end-->


<!--subscribe start-->
<section id="subs" class="subscribe">
  <div class="container">
    <div class="subscribe-title text-center">
      <h2>
        Go Online to Get Offline
      </h2>
      <p>
        Join our list to receive updates, tips + tricks to keeping balance in your life, and to be the first to know of events and new Outposts.
      </p>
    </div>
    <form [formGroup]= "emailForm"  class = "emailForm" (ngSubmit)="submitEmail()">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="custom-input-group">
            <input formControlName="userName" type="email" class="form-control" placeholder="Enter your Email Here" [(ngModel)]="inputEmail" >
            <button class="appsLand-btn subscribe-btn" >Subscribe</button>
            <div class="clearfix"></div>
            <i class="fa fa-envelope"></i>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
<!--subscribe end-->


