<app-header></app-header>


<head>
  <!-- META DATA -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <!-- TITLE OF SITE -->
  <title>Traveler</title>

  <!-- favicon img -->
  <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>

  <!--font-awesome.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">


  <!-- range css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/jquery-ui-1.11.0.css">

  <!--bootstrap.min.css-->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">


</head>


<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- main-menu End -->


<!--destination start -->
<section id="home" class="destination">

  <div class="container">
    <div class="destination-content">

      <div class="row">
        <div class="col-sm-12">
          <h2>
            <br/><br/>
            <br /><br/>
            Find Your Destination
          </h2>
          <br />
          <!--serch input start-->

            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="custom-input-destination">
                  <input type="email" class="form-control" placeholder="Enter What You Want To Find Here"
                         [(ngModel)]="termSearch">
                  <!-- <button class="appsLand-btn subscribe-btn">Search</button> -->
                  <div class="clearfix"></div>
                  <i class="fa fa-search"></i>
                </div>

              </div>
            </div>
          <!--serch input end-->

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->

<!--travel-box start-->
<section  class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
        </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->




  <!--all findings start-->
  <section id="pack" class="resort">
    <div class="container">
      <div class="gallary-header text-center">
        <h2>
          Top Findings
        </h2>
        <!-- <p>
          Come to find your travel partners here.
        </p>
        <button  class="about-view resort-btn">
          Browse All >>
        </button> -->
      </div><!--/.gallery-header-->
      <div class="resort-content">
        <div class="row">

          <div class="col-md-3 col-sm-6" *ngFor="let onecity of citys | filter : termSearch">
            <div class="single-resort-item">
              <img src={{onecity.image}} alt="package-place">
              <div class="single-resort-item-txt">
                <h3>{{ onecity.location }}</h3>
                <div class="destination-btn">
                  <button  (click)="onClick(onecity.price)" class="about-view resort-btn">
                    view
                  </button>
                </div>
              </div><!--/.single-package-item-txt-->
            </div><!--/.single-package-item-->
          </div><!--/.col-->




        </div><!--/.row-->
      </div><!--/.packages-content-->
    </div><!--/.container-->

  </section><!--/.packages-->
  <!--packages end-->

