<footer  class="footer-copyright">
  <div class="container">
    <div class="footer-content">
      <div class="row">

        <div class="col-sm-3">
          <div class="single-footer-item">
            <div class="footer-logo">
              <a href="index.html">
                Way<span>Farer</span>
              </a>
              <p>
                best travel sharing platform
              </p>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>link</h2>
            <div class="single-footer-txt">
              <p><a href="#">home</a></p>
              <p><a href="#"  [routerLink]="['/destination']">destination</a></p>
              <p><a href="#" [routerLink]="['/destination']">finding</a></p>
              <p><a href="#">tours</a></p>
              <p><a href="#">places</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->

        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>popular destination</h2>
            <div class="single-footer-txt">
              <p><a href="#">china</a></p>
              <p><a href="#">Paris</a></p>
              <p><a href="#">brazil</a></p>
              <p><a href="#">australia</a></p>
              <p><a href="#">london</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item text-center">
            <h2 class="text-left">contacts</h2>
            <div class="single-footer-txt text-left">
              <p>+1 (617) 0000 6543</p>
              <p class="foot-email"><a href="#">wayfarer@gmail.com</a></p>
              <p>330 Boylston Street</p>
              <p>Boston, USA</p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

      </div><!--/.row-->

    </div><!--/.footer-content-->
    <hr>

    <p>&copy; 2019 INFO6150 Final Project All Rights Reserved</p>

  </div><!--/.foot-icons-->
  <div id="scroll-Top">
    <i class="fa fa-angle-double-up return-to-top" id="scroll-top1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
  </div><!--/.scroll-Top-->
  <!-- /.container-->

</footer><!-- /.footer-copyright-->
<!-- footer-copyright end -->
